QuarantineInstance.json
{
  "Comment": "A description of my state machine.",
  "StartAt": "Get Instance Id",
  "States": {
    "Get Instance Id": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Parameters": {
        "Payload.$": "$",
        "FunctionName": "arn:aws:lambda:us-east-1:415171123880:function:loadbalancerlambda:$LATEST"
      },
      "Retry": [
        {
          "ErrorEquals": [
            "Lambda.ServiceException",
            "Lambda.AWSLambdaException",
            "Lambda.SdkClientException"
          ],
          "IntervalSeconds": 2,
          "MaxAttempts": 6,
          "BackoffRate": 2
        }
      ],
      "Next": "Get Instance Info",
      "ResultSelector": {
        "IsolatedInstanceId.$": "States.StringToJson($.Payload.body)"
      }
    },
    "Get Instance Info": {
      "Type": "Task",
      "Parameters": {
        "InstanceIds.$": "States.Array($.IsolatedInstanceId)"
      },
      "Resource": "arn:aws:states:::aws-sdk:ec2:describeInstances",
      "Next": "Disable API Termination",
      "Catch": [
        {
          "ErrorEquals": [
            "States.ALL"
          ],
          "Comment": "errors",
          "Next": "IncidentResponseFailure",
          "ResultPath": "$.errordetails"
        }
      ],
      "ResultPath": "$.InstanceDescription"
    },
    "Disable API Termination": {
      "Type": "Task",
      "Parameters": {
        "InstanceId.$": "$.IsolatedInstanceId",
        "DisableApiTermination": {
          "Value": "true"
        }
      },
      "Resource": "arn:aws:states:::aws-sdk:ec2:modifyInstanceAttribute",
      "Next": "Get ASG Info",
      "ResultPath": null,
      "Catch": [
        {
          "ErrorEquals": [
            "States.ALL"
          ],
          "Next": "IncidentResponseFailure",
          "ResultPath": "$.errordetails"
        }
      ]
    },
    "Get ASG Info": {
      "Type": "Task",
      "Parameters": {
        "InstanceIds.$": "States.Array($.IsolatedInstanceId)"
      },
      "Resource": "arn:aws:states:::aws-sdk:autoscaling:describeAutoScalingInstances",
      "Next": "Has ASG?",
      "ResultPath": "$.AutoScalingResult",
      "Catch": [
        {
          "ErrorEquals": [
            "States.ALL"
          ],
          "Next": "IncidentResponseFailure",
          "ResultPath": "$.errordetails"
        }
      ]
    },
    "Has ASG?": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.$.AutoScalingResult.AutoScalingInstances[0].AutoScalingGroupName",
          "IsPresent": true,
          "Next": "Detach Instance from ASG"
        }
      ],
      "Default": "Create Instance, Snapshots, Volume"
    },
    "Detach Instance from ASG": {
      "Type": "Task",
      "Parameters": {
        "AutoScalingGroupName.$": "$.AutoScalingResult.AutoScalingInstances[0].AutoScalingGroupName",
        "ShouldDecrementDesiredCapacity": "true",
        "InstanceIds.$": "States.Array($.IsolatedInstanceId)"
      },
      "Resource": "arn:aws:states:::aws-sdk:autoscaling:detachInstances",
      "Catch": [
        {
          "ErrorEquals": [
            "States.ALL"
          ],
          "Next": "IncidentResponseFailure",
          "ResultPath": "$.errordetails"
        }
      ],
      "Next": "Create Instance, Snapshots, Volume",
      "ResultPath": null
    },
    "Create Instance, Snapshots, Volume": {
      "Type": "Parallel",
      "Branches": [
        {
          "StartAt": "Run Forensic Instance",
          "States": {
            "Run Forensic Instance": {
              "Type": "Task",
              "Parameters": {
                "MaxCount": 1,
                "MinCount": 1,
                "InstanceType.$": "$.InstanceDescription.Reservations[0].Instances[0].InstanceType",
                "ImageId.$": "$.InstanceDescription.Reservations[0].Instances[0].ImageId",
                "SubnetId.$": "$.InstanceDescription.Reservations[0].Instances[0].NetworkInterfaces[0].SubnetId",
                "SecurityGroupIds": [
                  "sg-02685f422fd092dfa"
                ]
              },
              "Resource": "arn:aws:states:::aws-sdk:ec2:runInstances",
              "ResultSelector": {
                "ForensicInstanceId.$": "$.Instances[0].InstanceId"
              },
              "End": true
            }
          }
        },
        {
          "StartAt": "Create Snapshot from Isolated Instance",
          "States": {
            "Create Snapshot from Isolated Instance": {
              "Type": "Task",
              "Parameters": {
                "VolumeId.$": "$.InstanceDescription.Reservations[0].Instances[0].BlockDeviceMappings[0].Ebs.VolumeId"
              },
              "Resource": "arn:aws:states:::aws-sdk:ec2:createSnapshot",
              "ResultPath": "$.SnapshotId",
              "Next": "Get Snapshot Status"
            },
            "Get Snapshot Status": {
              "Type": "Task",
              "Parameters": {
                "SnapshotIds.$": "States.Array($.SnapshotId.SnapshotId)"
              },
              "Resource": "arn:aws:states:::aws-sdk:ec2:describeSnapshots",
              "ResultPath": "$.SnapshotStatus",
              "ResultSelector": {
                "SnapshotState.$": "$.Snapshots.[0].State"
              },
              "Next": "Is Snapshot Complete?"
            },
            "Is Snapshot Complete?": {
              "Type": "Choice",
              "Choices": [
                {
                  "Variable": "$.SnapshotStatus.SnapshotState",
                  "StringEquals": "completed",
                  "Next": "Create EBS Volume"
                }
              ],
              "Default": "Wait for Snapshot"
            },
            "Create EBS Volume": {
              "Type": "Task",
              "Parameters": {
                "AvailabilityZone.$": "$.InstanceDescription.Reservations[0].Instances[0].Placement.AvailabilityZone",
                "SnapshotId.$": "$.SnapshotId.SnapshotId"
              },
              "Resource": "arn:aws:states:::aws-sdk:ec2:createVolume",
              "Next": "Get EBS Volume Status",
              "ResultPath": "$.Volumes"
            },
            "Get EBS Volume Status": {
              "Type": "Task",
              "Parameters": {
                "VolumeIds.$": "States.Array($.Volumes.VolumeId)"
              },
              "Resource": "arn:aws:states:::aws-sdk:ec2:describeVolumes",
              "ResultPath": "$.VolumeDescription",
              "Next": "Is Volume Available?"
            },
            "Is Volume Available?": {
              "Type": "Choice",
              "Choices": [
                {
                  "Not": {
                    "Variable": "$.VolumeDescription.Volumes[0].State",
                    "StringEquals": "available"
                  },
                  "Next": "Wait for Volume"
                }
              ],
              "Default": "Join Parallel States"
            },
            "Join Parallel States": {
              "Type": "Pass",
              "End": true,
              "ResultPath": "$.AllInfo"
            },
            "Wait for Volume": {
              "Type": "Wait",
              "Seconds": 15,
              "Next": "Get EBS Volume Status"
            },
            "Wait for Snapshot": {
              "Type": "Wait",
              "Seconds": 15,
              "Next": "Get Snapshot Status"
            }
          }
        }
      ],
      "ResultPath": "$.ForensicMachineInfo",
      "Next": "Attach Volume",
      "Catch": [
        {
          "ErrorEquals": [
            "States.ALL"
          ],
          "Next": "IncidentResponseFailure"
        }
      ]
    },
    "IncidentResponseFailure": {
      "Type": "Task",
      "Resource": "arn:aws:states:::sns:publish",
      "Parameters": {
        "Message.$": "$",
        "TopicArn": "arn:aws:sns:us-east-1:415171123880:incidentresponsenotification"
      },
      "End": true
    },
    "Attach Volume": {
      "Type": "Task",
      "Parameters": {
        "Device": "/dev/sdf",
        "InstanceId.$": "$.ForensicMachineInfo[0].ForensicInstanceId",
        "VolumeId.$": "$.ForensicMachineInfo[1].AllInfo.Volumes.VolumeId"
      },
      "Resource": "arn:aws:states:::aws-sdk:ec2:attachVolume",
      "Next": "Allow Quarantine Instance Ingress",
      "ResultPath": null
    },
    "Allow Quarantine Instance Ingress": {
      "Type": "Task",
      "Parameters": {
        "GroupId.$": "$.InstanceDescription.Reservations[0].Instances[0].SecurityGroups[0].GroupId",
        "IpPermissions": [
          {
            "IpProtocol": "-1",
            "FromPort": -1,
            "UserIdGroupPairs": [
              {
                "GroupId": "sg-02685f422fd092dfa"
              }
            ]
          }
        ]
      },
      "Resource": "arn:aws:states:::aws-sdk:ec2:authorizeSecurityGroupIngress",
      "Next": "Tag Instance as Quarantine",
      "ResultPath": null
    },
    "Tag Instance as Quarantine": {
      "Type": "Task",
      "End": true,
      "Parameters": {
        "Resources.$": "States.Array($.IsolatedInstanceId)",
        "Tags": [
          {
            "Key": "Environment",
            "Value": "Quarantine"
          }
        ]
      },
      "Resource": "arn:aws:states:::aws-sdk:ec2:createTags"
    }
  }
}
